{% extends 'base.html' %}
{% block stitle %}Добавление{% endblock stitle %}


{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container p-5">
        <h2 class="mb-4">Добавление нового абонента</h2>
        <form method="post">
            {% csrf_token %}
            <div class="d-flex flex-column">
                {{ form }}
            </div>
            <input type="submit" id="addBtn" type="button" class="btn btn-success" value="Добавить">
        </form>
        <div class="row justify-content-center p-3">
            <a class="btn btn-primary" href="{% url 'contacts' %}">На главную</a>
        </div>
    </div>
{% endblock content %}
